<!DOCTYPE html >
<html lang="en">
	
	<head>

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
	

    <link rel="stylesheet" type="text/css" href="../css/masterStyle.css"/>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
     <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="description" content=" Official Website for UK band WhiteNoise  " />
    <meta name="keywords" content=" Music , WhiteNoise , White Noise , band , WhiteNoise Band ,  " />
    <meta name="author" content="Nathan Robinson, Roseberryprime.org" />
    <title> WhiteNoise </title>

   
    </head>

<body style="background-image: url(../images/bground1_cropped.png) ; background-repeat: no-repeat ; "> 



<div id="page-container"  >


<!-- 
<div id="main-nav">
	
   				
	<ul id="navlist">
		<li id="Home"><a href="../index.html" class="current">>Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
		<li id="Gigs"><a href="../research/research.html">Gigs</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
		<li id="Music"><a href="../projects/projects.html">Music</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
		<li id="Merch"><a href="../interests/interests.html">Merch</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
		<li id="Socials"><a href="../ian/ian.html" >Socials</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
		<li id="Blog"><a href="../blog/blog.html" >Blog</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
		<li id="About us"><a href="../About/About.html" >about us</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
	</ul>
</div>
-->

	 <div class="topnav" id="myTopnav">
        <a href="../index.html"  class="active">Home</a>
		<a href="../gigs.gigs.html">Gigs</a>
		<a href="../music/music.html">music</a>
		<a href="../merch/merch.html">Merch</a>
        <a href="../socials/socials.html">Socials</a>
        <a href="blog/blog.html">Blog</a>
        <a href="about/about.html">About us</a>
         
        </div>
    
	   
    
    <div id="contentContainer">
     <p class="bottom-three"></p>
     <p class="bottom-three"></p>
       
        <h2>Welcome to the Official WhiteNoise Page [template] </h2>
        <h3> Here is the basic standard to be copied to other pages</h3>
    
    
    
    </div>    
     

	
	
	
	

	
</div>

</body>


</html>

